@{
    ViewData["Title"] = "WSAD";
}
<div class="container-fluid">
            <div class="row">
                <div class="col-sm">

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="height:22rem;width:40rem; margin-bottom:15vh;">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
        <a href="@Url.Action("Game","Home",new {id=4})">
      <img src="~/images/gothic.jpg" class="d-block w-100" alt="..."style="height:25rem;">
  </a> 
  </div>
    <div class="carousel-item" data-bs-interval="2000">
                <a href="@Url.Action("Game","Home",new {id=11})">
      <img src="~/images/Zelda.jpg" class="d-block w-100" alt="..." style="height:25rem;">
</a>    
  </div>
    <div class="carousel-item">
                        <a href="@Url.Action("Game","Home",new {id=1})">

      <img src="~/images/battle.jpg" class="d-block w-100" alt="..."style="height:25rem;">
</a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


    @foreach(var gra in ViewBag.gra)
        {
               <div class="col-sm" style="max-width:16rem">
    
                <a class="justify-content-center" href=@Url.Action("Game","Home", new {id=@gra.Id})>
                   <div class="card box-shadow border-black" style="margin-top:1rem;width: 13rem;height:17rem; background-color:rgba(247,247,247,255);margin-left:1rem;">
  <img class="card-img-top" src="~/images/@gra.Zdjęcie1" alt="Card image cap">
  <div class="card-body">
 <h5 style="font-family: 'Arial Rounded MT'; font-size:25px;text-decoration:none">@gra.Nazwa</h5>

  </div>
  <div class="card-footer" style="background-color:black; height:5rem;">
                              <h8 style="font-size:20px;color:white; font-family:sans-serif;">@gra.Cena zł</h8>

  </div>
</div>

   <!----- <div>
                        <img class="rounded border border-dark border-3" src="~/images/gra.Zdjęcie1" style="height: 10rem; width: 10rem; margin-top: 40px"/>
                    </div>--->
                    <!-----<div class="text-center">
                        <h5 style="font-family: 'Arial Rounded MT' font-size:25px;color:black; text-decoration:none"></h5>
                        <h8>gra.Cena zł</h8>
                    </div>--->
                </a>
            </div>

        }
        </div>

    </div>
